body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  min-width: 768px; /* Defina uma largura mínima maior para a tabela */
  width: 100%;
  border-collapse: collapse; /* Remove espaçamento entre as células */
  margin-bottom: 2px;
}

th, td {
  padding: 10px;
  text-align: left;
  white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
  overflow: hidden; /* Esconde o texto que não cabe na célula */
  text-overflow: ellipsis; 
}

th {
  background-color: #172554; /* Cor do cabeçalho */
  color: white; /* Texto do cabeçalho */
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

.gantt-row {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
}

.gantt-bar-container {
  position: relative;
  height: 30px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #f4f4f9;
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 10px;
}

.gantt-bar {
  position: absolute;
  height: 30px;
  top: 0px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;
  transition: all 0.3s ease;
}

.gantt-bar.ocioso {
  background-color: #d3d3d3;
}

.gantt-bar:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gantt-row span {
  width: 120px;
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.scrollable-gantt {
  overflow-x: auto; /* Permite rolagem horizontal */
  overflow-y: hidden; /* Oculta rolagem vertical */
  white-space: nowrap; /* Impede que os elementos quebrem para a próxima linha */
}


.scale {
  position: relative;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 130px;
  border-top: 1px solid #ddd;
}

.gantt-chart {
  position: relative;
  padding-bottom: 0px;
}

/* Container para o gráfico de Gantt com rolagem horizontal */
.scrollable-gantt {
  overflow-x: auto; /* Permite rolagem horizontal */
  overflow-y: hidden; /* Oculta rolagem vertical */
  white-space: nowrap; /* Impede que os elementos do gráfico quebrem para a próxima linha */
}

.time-scale {
  position: absolute;
  left: 120px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scale-mark {
  position: absolute;
  bottom: -10px;
  width: 30px;
  text-align: center;
  font-size: 12px;
}

.button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

/* Tooltip styling */
.tooltip {
  position: absolute;
  bottom: 110%; /* Move a tooltip mais para cima, acima do botão */
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  z-index: 10;
  pointer-events: none; /* Garante que a tooltip não bloqueie o clique */
}

.group:hover .tooltip {
  transform: translateX(-50%) scale(1);
}

.escalonador-option {
  position: relative;
  margin-bottom: 40px; /* Adiciona espaço extra abaixo para evitar sobreposição */
}

/* Permite rolagem horizontal */
.scrollable-container,
.scrollable-gantt {
  overflow-x: auto; /* Permite rolagem horizontal */
  overflow-y: hidden; /* Oculta rolagem vertical */
  white-space: nowrap; /* Impede que as células quebrem para a próxima linha */
}

/* Responsividade para tabelas */
@media (max-width: 768px) {
  table {
    min-width: 800px; /* Define a largura mínima em dispositivos menores */
  }


  th, td {
    display: inline-block; /* Exibe as células em linha para permitir a rolagem horizontal */
    width: auto; /* Ajusta a largura das células */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
    white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
  }

  tr {
    display: table; /* Mantém o comportamento da tabela */
    width: 100%;
  }

  th {
    position: static; /* Remove a posição absoluta do cabeçalho */
  }
}
